In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("car.data", header=None)
df.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "class"]
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [9]:
for indice, linha in df.iterrows():
    if(linha["buying"] == "vhigh"):
        linha["buying"] = 4
    elif(linha["buying"] == "high"):
        linha["buying"] = 3
    elif(linha["buying"] == "med"):
        linha["buying"] = 2
    elif(linha["buying"] == "low"):
        linha["buying"] = 1

    elif(linha["maint"] == "vhigh"):
        linha["maint"] = 4
    elif(linha["maint"] == "high"):
        linha["maint"] = 3
    elif(linha["maint"] == "med"):
        linha["maint"] = 2
    elif(linha["maint"] == "low"):
        linha["maint"] = 1

    elif(linha["doors"] == "2"):
        linha["doors"] = 1
    elif(linha["doors"] == "3"):
        linha["doors"] = 2
    elif(linha["doors"] == "4"):
        linha["doors"] = 3
    elif(linha["doors"] == "5more"):
        linha["doors"] = 4

    elif(linha["persons"] == "2"):
        linha["persons"] = 1
    elif(linha["persons"] == "4"):
        linha["persons"] = 2
    elif(linha["persons"] == "more"):
        linha["persons"] = 3

    elif(linha["lug_boot"] == "small"):
        linha["lug_boot"] = 1
    elif(linha["lug_boot"] == "med"):
        linha["lug_boot"] = 2
    elif(linha["lug_boot"] == "big"):
        linha["lug_boot"] = 3       

    elif(linha["safety"] == "low"):
        linha["safety"] = 1
    elif(linha["safety"] == "med"):
        linha["safety"] = 2
    elif(linha["safety"] == "high"):
        linha["safety"] = 3 
    
    elif(linha["class"] == "unacc"):
        linha["class"] = 1
    elif(linha["class"] == "acc"):
        linha["class"] = 2
    elif(linha["class"] == "good"):
        linha["class"] = 3
    elif(linha["class"] == "vgood"):
        linha["class"] = 4

df

     buying maint doors persons lug_boot safety class
0         4     4     1       1        1      1     1
1         4     4     1       1        1      2     1
2         4     4     1       1        1      3     1
3         4     4     1       1        2      1     1
4         4     4     1       1        2      2     1
...     ...   ...   ...     ...      ...    ...   ...
1723      1     1     4       3        2      2     3
1724      1     1     4       3        2      3     4
1725      1     1     4       3        3      1     1
1726      1     1     4       3        3      2     3
1727      1     1     4       3        3      3     4

[1728 rows x 7 columns]