In [71]:
import pandas as pd
import numpy as np

In [72]:
df = pd.read_csv("forestfires.csv")
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [73]:
#df.month.unique()
# print(df.month.unique())

# ordenar_meses = ["jan", "fev", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]

df.loc[df.month == "jan",'month'] = 1
df.loc[df.month == "feb",'month'] = 2
df.loc[df.month == "mar",'month'] = 3
df.loc[df.month == "apr",'month'] = 4
df.loc[df.month == "may",'month'] = 5
df.loc[df.month == "jun",'month'] = 6
df.loc[df.month == "jul",'month'] = 7
df.loc[df.month == "aug",'month'] = 8
df.loc[df.month == "sep",'month'] = 9
df.loc[df.month == "oct",'month'] = 10
df.loc[df.month == "nov",'month'] = 11
df.loc[df.month == "dec",'month'] = 12

df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5     3  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4    10  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4    10  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6     3  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6     3  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3     8  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4     8  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4     8  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4     8  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3    11  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [74]:
df.loc[df.day == "mon",'day'] = 1
df.loc[df.day == "tue",'day'] = 2
df.loc[df.day == "wed",'day'] = 3
df.loc[df.day == "thu",'day'] = 4
df.loc[df.day == "fri",'day'] = 5
df.loc[df.day == "sat",'day'] = 6
df.loc[df.day == "sun",'day'] = 7

df

     X  Y month day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5     3   5  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4    10   2  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4    10   6  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6     3   5  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6     3   7  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ..   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3     8   7  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4     8   7  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4     8   7  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4     8   6  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3    11   2  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [75]:
df["sen_month"] = 0
df["cos_month"] = 0

df["sen_day"] = 0
df["cos_day"] = 0

df

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,sen_month,cos_month,sen_day,cos_day
0,7,5,3,5,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,0,0,0,0
1,7,4,10,2,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0,0,0,0
2,7,4,10,6,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0,0,0,0
3,8,6,3,5,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,0,0,0,0
4,8,6,3,7,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,4,3,8,7,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,0,0,0
513,2,4,8,7,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,0,0,0
514,7,4,8,7,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,0,0,0
515,1,4,8,6,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,0,0,0
516,6,3,11,2,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,0,0,0

In [77]:
import math

dois_pi = 2 * math.pi

for i in range(df.month.size):
    #print(int(df.month[i]))
    df.sen_month[i] = np.sin((dois_pi * (int(df.month[i])/12)))
    df.cos_month[i] = np.cos((dois_pi * (int(df.month[i])/12)))

for i in range(df.day.size):
    #print(int(df.month[i]))
    df.sen_day[i] = np.sin((dois_pi * (int(df.day[i])/7)))
    df.cos_day[i] = np.cos((dois_pi * (int(df.day[i])/7)))

df.drop(["day", "month"], axis=1, inplace=True)
    
df

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,sen_month,cos_month,sen_day,cos_day
0,7,5,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,1.000000,6.123234e-17,-9.749279e-01,-0.222521
1,7,4,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,-0.866025,5.000000e-01,9.749279e-01,-0.222521
2,7,4,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,-0.866025,5.000000e-01,-7.818315e-01,0.623490
3,8,6,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,1.000000,6.123234e-17,-9.749279e-01,-0.222521
4,8,6,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,1.000000,6.123234e-17,-2.449294e-16,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,4,3,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,-0.866025,-5.000000e-01,-2.449294e-16,1.000000
513,2,4,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,-0.866025,-5.000000e-01,-2.449294e-16,1.000000
514,7,4,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,-0.866025,-5.000000e-01,-2.449294e-16,1.000000
515,1,4,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,-0.866025,-5.000000e-01,-7.818315e-01,0.623490
516,6,3,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,-0.500000,8.660254e-01,9.749279e-01,-0.222521